.sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 242px;
    padding: 20px 0px;
    background-color: #f0f0f0;
}

.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu li {
    display: flex;
    align-items: center;
    padding: 1px 0px;
    cursor: pointer;
    gap: 24px;
}

.main-logo {
    width: 169px;
    height: 62px;
    margin-bottom: 40px;
}

.menu {
    width: 100%;
}

.menu-section {
    margin-bottom: 20px;
}

.sidebar h2 {
    font-family: "Poppins", sans-serif;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    text-align: left;
    color: #686868;
    margin: 0 0 10px 30px;
}

.footer {
    display: flex;
    flex-direction: column;
}
